/* My custom property/ variables */
:root {
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #161616;

    --btn-active-bg-color: #DD0000;

    --btn-hover-color: #F1F1F1;
}

/* Basic style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-color: red;
}

